# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# Poetry files
poetry.lock

# Logs and databases
*.log
*.sqlite3

# Environment variables
.env
.env.local
.env.*.local

# Editor and OS files
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db
